<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>PermissionFilter</filter-name>
  	<display-name>PermissionFilter</display-name>
  	<description></description>
  	<filter-class>filter.PermissionFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>PermissionFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerShow</servlet-name>
  	<display-name>CustomerShow</display-name>
  	<description></description>
  	<servlet-class>servlet.CustomerShow</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExitServlet</servlet-name>
  	<display-name>ExitServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerQueryAddress</servlet-name>
  	<display-name>CustomerQueryAddress</display-name>
  	<description></description>
  	<servlet-class>servlet.CustomerQueryAddress</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerAdd</servlet-name>
  	<display-name>CustomerAdd</display-name>
  	<description></description>
  	<servlet-class>servlet.CustomerAdd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerDel</servlet-name>
  	<display-name>CustomerDel</display-name>
  	<description></description>
  	<servlet-class>servlet.CustomerDel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerEdit</servlet-name>
  	<display-name>CustomerEdit</display-name>
  	<description></description>
  	<servlet-class>servlet.CustomerEdit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerUpdate</servlet-name>
  	<display-name>CustomerUpdate</display-name>
  	<description></description>
  	<servlet-class>servlet.CustomerUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerShow</servlet-name>
  	<url-pattern>/CustomerShow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExitServlet</servlet-name>
  	<url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerQueryAddress</servlet-name>
  	<url-pattern>/CustomerQueryAddress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerAdd</servlet-name>
  	<url-pattern>/CustomerAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerDel</servlet-name>
  	<url-pattern>/CustomerDel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerEdit</servlet-name>
  	<url-pattern>/CustomerEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerUpdate</servlet-name>
  	<url-pattern>/CustomerUpdate</url-pattern>
  </servlet-mapping>

</web-app>